<!DOCTYPE html>
<html lang="en">
    <head><link rel="icon" type="image/png" href= "{{ url_for('static',filename='css/money_bag.png') }}" /></head>
    <title>Crypto Info</title>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <body>
         <div class="hero-bg">
             <section class="top">
                 <header>
                     <a href="https://www.linkedin.com/in/oscar--mandujano/" target="_blank">Check Me Out</a>
                 </header>
                 <h1><span>Keep With</span> The Current Prices</h1>

                 <p>Check Out the Purchase and Selling Price of the Hottest Coins Here</p>


                     <div class="column">
                        <div class="form-container">
                             <form action="">
                                 <div class="form-left">
                                     <label for="city">Bitcoin</label>
                                     <input type="text" name="city" id="city">
                                     <p>Best place to buy is: </p>
                                 </div>

                                 <input type="button" value="Buy Now"></input>
                             </form>
                         </div>
                     </div>
                     <div class="column">
                         <div class="form-container">
                             <form action="">
                                 <div class="form-left">
                                     <label for="city">Etherium</label>
                                     <input type="text" name="city" id="city">
                                     <p>Best place to buy is: </p>
                                 </div>
                                 <input type="button" value="Buy Now"></input>
                             </form>
                         </div>
                     </div>
                 <div class="arrow">
                     <img src="https://img.icons8.com/color-glass/96/000000/chevron-down.png"/>
                 </div>
             </section>
         </div>
        <section class="authentic">
            <div class="right-col">
                <h2>Check Out Some Other Prices!</h2>
                <p>lorem impsum</p>
            </div>
            <img src='static/css/piggy_bank.jpg' alt="Picture of Piggy Bank">
        </section>
    </body>
